{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <style>
    </style>
    <body>
    <header>
        <h1>Sanity shop</h1>
    </header>
    <main>
        <img src="{{ asset('images/logo.png') }}" alt="Sanity shop logo" class="banner">
        <h2>About</h2>
        <p>Welcome to Sanity Shop, where we bring the “boo” to your budget! Got a haunted house with ghosts that won’t
            pay rent? We’ve got just the thing for that.</p>
        <p>Our shelves are stocked with ghost-repellent sprays, banshee earplugs, and the latest in specter-chasing
            technology. Trying to chat with a poltergeist? Check out our deluxe Ouiji boards—now with typo-correcting
            planchettes!</p>
        <p>Headed to a graveyard at midnight? Don’t forget our glow-in-the-dark salt circles and anti-possession thermal
            blankets. They’re a must-have for anyone dealing with cranky spirits.</p>
        <p>We believe every ghost hunter deserves quality gear—because nothing ruins a good haunting like being
            unprepared.</p>
        <p>So gear up, stay sane, and remember: the dead don’t rest, but at least you can—with our haunted-approved
            sleep masks! <b>Disclaimer: They don't block the noise.</b></p></main>
    </body>
{% endblock %}
