{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <style>
    </style>
    <body>
    <header>
        <h1>Sanity shop</h1>
    </header>
    <main>
        <img src="{{ asset('images/logo.png') }}" alt="Sanity shop logo" class="banner">
        <h2>About</h2>
        <p>Sanity shop is a shop that allows you to buy all the things you need to keep yourself sane ;)</p>
    </main>
    </body>
{% endblock %}
