{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <style>

    </style>
    <body>
    <header>
        <h1>Sanity shop</h1>
    </header>
    <main>
        <img src="{{ asset('images/logo.png') }}" alt="Sanity shop logo" class="banner">
        <p>Welcome to the Sanity shop!</p>
        {% if "ROLE_ADMIN" in app.user.roles %}
            <a href="{{ path('app_admin') }}" class="btn btn-primary">Go to admin</a>
        {% endif %}
    </main>
    </body>
{% endblock %}
