{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <style>

    </style>
    <body>
    <header>
        <h1>Sanity shop</h1>
    </header>
    <main>
        <img src="{{ asset('images/logo.png') }}" alt="Sanity shop logo" class="banner">
        <h2>Categories</h2>
    </main>
    </body>
{% endblock %}
