{% extends 'base.html.twig' %}

{% block title %}Admin Product Edit{% endblock %}

{% block body %}
    <style>
    .product {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    h5 {
        text-align: center;
    }
    .card {
        margin: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 200px;
        height: 250px;
        text-align: center;
    }
    </style>
    <body>
    <header>
        <h1>Sanity shop</h1>
    </header>
    <main>
        <img src="{{ asset('images/logo.png') }}" alt="Sanity shop logo" class="banner">
        editProductForm, { 'attr': { 'class': 'loading' } })<div class="product">
            {{ form_start(editProductForm) }}
        </div>
    </main>
    </body>
{% endblock %}
