<style>
    nav {
        position: sticky;
        display: flex;
        justify-content: space-between;
        background-color: black;
        padding: 10px;
        top: 0;
        z-index: 100;
    }

    .left-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .right-wrapper {
        display: flex;
        justify-content: space-between;
    }

    a {
        text-decoration: none;
        color: white;
        padding: 10px;
    }

    .cart-icon {
        width: 24px;
        height: 24px;
    }
</style>
<nav>
    <div class="left-wrapper">
        <a href="/" class="home-btn">Home</a>
        <a href="/about" class="about-btn">About</a>
        <a href="/categories" class="categories-btn">Categories</a>
        <a href="/cart" class="cart-btn"><img src="{{ asset('images/cart.png') }}" class="cart-icon"><span
                    class="badge bg-danger cart-item-counter">{{ app.session.get("amountOfItems", 0) }}</span></a>
        {% if app.user %}
            <a href="{{ path('app_orders') }}" class="orders-btn">Orders</a>
            {% if 'ROLE_ADMIN' in app.user.roles %}
                <a href="{{ path('app_admin') }}" class="admin-btn">Admin</a>
            {% endif %}
        {% endif %}
    </div>
    <div class="right-wrapper">
        {% if app.user %}
            <a href="/logout" class="logout-btn">Logout</a>
        {% else %}
            <a href="/register" class="register-btn">Register</a>
            <a href="/login" class="login-btn">Login</a>
        {% endif %}
    </div>
</nav>
